# INTERNAL
KAFKA_ALL_NETWORK_INTERFACES=0.0.0.0
KAFKA_BROKER_INTERNAL_PORT=29092
KAFKA_CONTROLLER_INTERNAL_PORT=39092
KAFKA_BROKER_DOCKER_LISTENER_ID=DOCKER
KAFKA_BROKER_INTERNAL_LISTENER_ID=INTERNAL
KAFKA_BROKER_EXTERNAL_LISTENER_ID=EXTERNAL
KAFKA_CONTROLLER_INTERNAL_LISTENER_ID=CONTROLLER
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_EXTERNAL_SECURITY_PROTOCOL=SASL_SSL
KAFKA_INTERNAL_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_CONFIG_PATH=/etc/kafka
KAFKA_SECRETS_PATH=/etc/kafka/secrets
KAFKA_SSL_SCRIPT=./generate-ssl-certs.sh
KAFKA_ADMIN_USERNAME=admin
KAFKA_ADMIN_PASSWORD=admin-secret
KAFKA_SSL_KEY_ALIAS=broker
KAFKA_SSL_PASSWORD=broker-secret
KAFKA_SSL_KEYSTORE_NAME=broker.keystore.jks
KAFKA_SSL_TRUSTSTORE_NAME=broker.truststore.jks
KAFKA_SSL_KEY_CREDENTIALS_FILE_NAME=broker.creds
KAFKA_SSL_KEYSTORE_CREDENTIALS_FILE_NAME=broker.keystore.creds
KAFKA_SSL_TRUSTSTORE_CREDENTIALS_FILE_NAME=broker.truststore.creds
KAFKA_SSL_CERT_FILE_NAME=broker.pem
