# EXTERNAL
KAFKA_BROKER_PORT=9092
KAFKA_BROKER_DOCKER_PORT=19092
KAFKA_SCHEMA_REGISTRY_PORT=9093
KAFKA_SCHEMA_REGISTRY_UI_PORT=9094
KAFKA_CONTROL_CENTER_PORT=9095
KAFKA_USERNAME=testuser
KAFKA_PASSWORD=testuser-secret